<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/styles.css">
  <title>404</title>
</head>
<body>
  <section>
    <div class="container">
      <div class="modal404">
        <img src="../public/img/Grupo_3.png" alt="">
        <p>Ops! parece que você se perdeu ou essa página não está mais ativa.</p>
        <h2>Que tal ver alguns imóveis em destaque?</h2>
      </div>
    </div>
  </section>
</body>
</html>